<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<unicorn>
			<configurations>
				<!--Templates-->
				<configuration name="Capgemini.Project.Templates">
					<targetDataStore physicalRootPath="$(sourceFolder)\serialization\templates" useDataCache="false"
					 	 type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" singleInstance="true">						
					</targetDataStore>
					<predicate>
						<include name="CapgeminiTemplates" database="master" path="/sitecore/templates/Project/Capgemini"></include>
					</predicate>
				</configuration>
				<!--layout, renderings-->
				<configuration name="Capgemini.Project.Presentation">
					<targetDataStore physicalRootPath="$(sourceFolder)\serialization\presentation" useDataCache="false"
					 	 type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" singleInstance="true">
					</targetDataStore>
					<predicate>
						<include name="Layout" database="master" path="/sitecore/layout/Layouts/Project/Capgemini"></include>
						<include name="Renderings" database="master" path="/sitecore/layout/Renderings/Project/Capgemini"></include>
					</predicate>
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>

<!--Templates, layout, renderings, media, content, workflow-->